a:hover, a:focus {
    outline: none;
    text-decoration: none;
}
 h4.panel-title {
    border: 1px solid #b2b7b7;
    height: 52px;
    padding-left: 8px;
    padding-top: 8px;
} 
.panel-title  a {
    color: #e85375;
    text-decoration: none;
    background-color: transparent;
    font-size: 18px;
    font-family: cursive;
}
#checkout .checkout-area .checkout-left .panel-group input {
    width: 100%;
    height: 2.25rem;
    padding-left: 8px;
    margin-bottom: 8px;
}
button .browse-btn {
    width: 121px;
    height: 36px;
    color: white;
    background-color: #ff0026;
    border: 1px solid #da5c15;
    border-radius: 40px;
    margin-bottom: 8px;
    font-family: cursive;
}

textarea {
    width: 100%;
    padding-left: 8px;
    margin-bottom: 8px;
}
select {
    width: 173px;
    height: 30px;
    padding-left: 8px;
    margin-bottom: 8px;
    font-family: unset;
}
button.browse-btn {
    width: 121px;
    height: 36px;
    color: white;
    background-color: #ff0026;
    border: 1px solid #da5c15;
    border-radius: 40px;
    margin-bottom: 8px;
    font-family: cursive;
}
