.navbar-brand img {
  width: 150px;
  height: 60px;
}
#header .carousel .carousel-inner .slider-img {
  padding: 0px 15px 15px 15px;
}
a.carousel-control-prev {
  border: 1px solid #eae2e4;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  top: 25%;
  left: 5%;
}
a.carousel-control-next {
  border: 1px solid #eae2e4;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  top: 25%;
  right: 5%;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 11%;
  color: #fff;
  text-align: center;
}
@media only screen and (max-width:425px){
  .carousel-caption{
    display: none;
  }
}
a.btn.btn-transparent.btn-rounded.btn-large {
  border: 1px solid #ffc107;
  border-radius: 5px;
  font-family: cursive;
  color: #d8af12;
}





/* ==========
ABOUT
========= */
ul {
  list-style-type: none;
  position: relative;
  
}
ul.address{
  padding-left: 0px;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
/* =================
service
================== */
.fa-truck:before {
  content: "\f0d1";
  color: #007bff;
}
.fa-lock:before {
  content: "\f023";
  color: #007bff;
}
.fa-phone:before {
  content: "\f095";
  color: #007bff;
}
#service .box-part .title h4{
  font-size: 1.5rem;
  font-family: cursive;
}
/* ==========
footer
=========== */

#footer{
  background-color: #222;
}
.footer-top{
  border-bottom: 1px solid  #888;
}
.footer-nav a,
.footer-bottom-area a {
  
  color: #888;
  display: inline-block;
  font-size: 18px;
  margin-right: 8px;
  padding: 2px 0;
  text-align: center;
  width: 35px;  
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.footer-nav a:hover ,
.footer-bottom-area a:hover {
  color: #fff;

}
.footer-widget p{
  color: #888;
  font-size: 18px;
  margin-right: 8px;
  padding: 2px 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.footer-widget p:hover{
  color: #fff;
 
}

.footer-widget i,
.footer-social i,
.footer-payment i{
  color: #888;
}

.footer-widget i:hover,
.footer-social i:hover,
.footer-payment i:hover{
  color: #fff;
}
.footer-widget h3{
  color: white;
  font-family: monospace;
}
.footer-bottom-area p{
  color: #888;
}
.footer-widget .fa-phone:before {
  
  color: #94989c;
}
.footer-top .address a{
  color: #888;
}
@media only screen and (max-width:990px){
  .footer-widget h3{
    font-size: 1.5rem;
  }
}
.footer-widget h6 {
  color: #888;
}
.footer-social i {
  border: 1px solid #888;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
}
a:hover, a:focus {
  outline: none;
  text-decoration: none;
}


/* Back to top button
---------------------------------- */


#scrollToTopButton {
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  cursor: pointer;
  background: #fff;
  padding: 0;
  border: 0;
  width: 50px;
  height: 50px;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.3);
  font-size: xx-large;
  outline: 0;
  visibility: hidden;
  transform: scale(0);
  opacity: 0;
  transition: 0.2s;
  z-index: 9999;

}
#scrollToTopButton:hover {
  background-color: aqua;
}
#scrollToTopButton.show {
  visibility: visible;
  transform: scale(1);
  opacity:1 ;
}
@media only screen and (max-width:786px){
  #scrollToTopButton{
    width: 40px;
    height: 40px;
  }
}


/*==================
  PRODUCT SECTION
====================*/
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  /* background-color: #fff; */
  /* border-color: #dee2e6 #dee2e6 #fff; */
  border-bottom: 1px solid #e6192d;
}
.nav-tabs {
  /* border-bottom: 1px solid #dee2e6; */
  border: 0;
}
.nav-tabs .nav-link {
  /* border: 1px solid transparent; */
  /* border-top-left-radius: .25rem; */
  /* border-top-right-radius: .25rem; */
  border: 0;
}
ul.nav.nav-tabs {
  justify-content: center;
}
.product-grid2 {
  font-family:'Open Sans',sans-serif;
  position:relative;
}
.product-grid2 .product-image2 {
  overflow:hidden;
  position:relative;
}
.product-grid2 .product-image2 a {
  display:block;
}
.product-grid2 .product-image2 img { 
  width:100%;
  height:auto;
}
.product-image2 .pic-1 {
  opacity:1;
  transition:all .5s;
}
.product-grid2:hover .product-image2 .pic-1 {
  opacity:0;
}

.product-image2 .pic-2 {
  width:100%;
  height:100%;
  opacity:0;
  position:absolute;
  top:0;
  left:0;
  transition:all .5s;
}
.product-grid2:hover .product-image2 .pic-2 {
  opacity:1;
}
.product-grid2 .social{
  padding:0;
  margin:0;
  position:absolute;
  bottom:50px;
  right:25px;
  z-index:1;
}
.product-grid2 .social li {
  margin:0 0 10px;
  display:block;
  transform:translateX(100px);
  transition:all .5s;
}
.product-grid2:hover .social li {
  transform:translateX(0);
}
.product-grid2:hover .social li:nth-child(2) {
  transition-delay:.15s;
}
.product-grid2:hover .social li:nth-child(3) {
  transition-delay:.25s;
}
.product-grid2 .social li a {
  color:#505050;
  background-color:#fff;
  font-size:17px;
  line-height:45px;
  text-align:center;
  height:45px;
  width:45px;
  border-radius:50%;
  display:block;
  transition:all .3s ease 0s;
}
.product-grid2 .social li a:hover {
  color:#fff;
  background-color:#3498db;
  box-shadow:0 0 10px rgba(0,0,0,.5);
}
.product-grid2 .social li a:after,
.product-grid2 .social li a:before {
  content:attr(data-tip);
  color:#fff;
  background-color:#000;
  font-size:12px;
  line-height:22px;
  border-radius:3px;
  padding:0 5px;
  white-space:nowrap;
  opacity:0;
  transform:translateX(-50%);
  position:absolute;
  left:50%;top:-30px;
}
.product-grid2 .social li a:after { 
  content:'';
  height:15px;
  width:15px;
  border-radius:0;
  transform:translateX(-50%) rotate(45deg);
  top:-22px;
  z-index:-1;
}
.product-grid2 .social li a:hover:after,
.product-grid2 .social li a:hover:before {
  opacity:1;
}
.product-grid2 .add-to-cart {color:#fff;
  background-color:#404040;
  font-size:15px;
  text-align:center;
  width:100%;
  padding:10px 0;
  display:block;
  position:absolute;
  left:0;bottom:-100%;
  transition:all .3s;
}
.product-grid2 .add-to-cart:hover {
  background-color:#3498db;
  text-decoration:none;
}
.product-grid2:hover .add-to-cart {
  bottom:0
}
.product-grid2 .product-new-label {
  background-color:#3498db;
  color:#fff;
  font-size:17px;
  padding:5px 10px;
  position:absolute;
  right:0;
  top:0;
  transition:all .3s;
}
.product-grid2:hover .product-new-label {
  opacity:0;
}
.product-grid2 .product-content {
  padding:20px 10px;
  text-align:center;
}
.product-grid2 .title {
  font-size:17px;
  margin:0 0 7px;
}
.product-grid2 .title a {
  color:#303030;
}
.product-grid2 .title a:hover {
  color:#3498db;
}
.product-grid2 .price { 
  color:#ffc107!important;
  font-size:15px;
}
#product .banner img{
  padding: 15px 15px 15px 15px;
}

@media screen and (max-width:990px) {
  .product-grid2{margin-bottom:30px;
  }
}
@media screen and (max-width:425px) {
  a.nav-link {
    font-size: 9px;
}

}
/* quick view modal */
.simpleLens-thumbnails-container {
  margin-top: 0.2rem;
  margin-left: 1rem;
}
.modal-dialog .modal-content .modal-body .product-view-content .prod-view-size a{
  color: #afb5bb;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #d7dcdc;
  font-size: 19px;
  text-align: center;
  padding: 2px 8px;
 
 
}
.modal-dialog .modal-content .modal-body .product-view-content .prod-quantity p.prod-category {
  border-bottom: 1px solid #d5dcdc;
}
.modal-dialog .modal-content .modal-body .product-view-content .prod-view-size {
  margin-bottom: 8px;
}
 .modal-dialog .modal-content .modal-body .product-view-content  .prod-view-bottom a  {
  color: #919999;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #d1dada;
  padding: 6px 8px;
  font-size: 13px;
  font-size: smaller;
}
.modal-dialog .modal-content .modal-body .product-view-content  .prod-view-bottom a:hover {
  color: rgb(231, 45, 45);
  border: 1px solid rgb(231, 45, 45);

}
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
  margin-left: 0.5rem;
}
.simpleLens-lens-image img {
  width: 200px;
  height: 200px;
}
.simpleLens-thumbnail-wrapper img {
  width: 50px;
  height: 50px;
}
/* client logo slider */
#trademark img{
  width: 70px;
  height: 60px;
}

